header img{
    margin-bottom: -20px;
    margin-top: -17px;
}

h1 {
    color: aliceblue;
}

main {
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(130, 0, 0);
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
}

.left {
    width: 250px;
    float: left;
    text-align: center;
    border: black 4px solid;
    margin-right: 10px;
}

.slappy {
    padding-bottom: 125px;
}

.kerplunk {
    padding-bottom: 102px;
}

.dookie {
    padding-bottom: 79px;
}

.onehundred {
    padding-bottom: 100px;
}

.seventyeight {
    padding-bottom: 78px;
}

.eighty {
    padding-bottom: 80px;
}
p {
    color: aliceblue;
}

h2 {
    color: aliceblue;
    text-decoration: underline;
}

footer {
    background-color: rgb(17, 17, 17);
    color: aliceblue;
    padding: 15px;
    text-align: center;
}

header {
    background-image: url("images/header.png");
    background-blend-mode: lighten;
    background-color: black;
}

nav {
    background-color: rgb(17, 17, 17);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}

nav a:visited {
    color: aliceblue;
}

nav a:hover {
    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
}

.rule_below {
    border-bottom: aliceblue 1px solid;
    padding-bottom: 8px;
}

body {
    background-color: rgb(130, 0, 0);
}

nav a {
text-decoration: none;
width: 120px;
padding: 10px;
color: aliceblue;
font-weight: bold;
background-color: rgb(17, 17, 17);
display: inline;
}